#project-container { /*big boss*/
	overflow: hidden; /*shifting right and left animations cause overflow*/
  background-color: #eee;

  position: relative;
  right: -0%;
  display: inline-block;
  width: 100%;
  text-align: justify;

  padding-top: 3%;
  padding-bottom: 8%;

  min-width: auto;
}

.project-wrapper { /*small boss*/
  padding-bottom: 3%;
  position: relative;
  right: -25%;
  width: 50%;
}

#mosaic {
  position: relative;
  width: 100%;

  background-image: url('../images/floating-desk-min.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;

  -webkit-background-size: auto 100vh;
  -moz-background-size: auto 100vh;
  -o-background-size: auto 100vh;
}

.bg-no-image {
	background-size: 0 0 !important; /*hide the background (override id props)*/
}

.bg-fixed {
  background-attachment: fixed;
  transition: all 1s;
}

.bg-scroll {
  background-attachment: scroll;
  transition: all 1s;
}

/* PROJECT DISPLAY */

.project-card-wrapper { /*small boss*/
  padding-bottom: 0%; /*bottom of the page*/
  position: relative;
  right: -16%;
  width: 68%;
}

.project-card {
  position: relative;
  z-index: 1;

  margin-bottom: 0.6em;
  height: 50%;
  width: 100%;

  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;

  opacity: 0.0;
  overflow: hidden;

  transition: transform 0.25s;
  box-shadow: 0.0rem 0.0rem 1.0rem 0 rgba(10, 10, 10, 0.5);
}

.project-card:hover {
  z-index: 99;
  width: 100%;
  background-size: 100% auto;
  transform: scale(1.0);
  transition: transform 0.25s;
}

/* ANIMATION */

@keyframes sweep-in-right {
  from {
    opacity: 0.0;
		transform: translate(90vh, 0);
  }
  to {
    opacity: 1.0;
		transform: translate(0vh, 0);
  }
}

@keyframes sweep-in-left {
  from {
    opacity: 0.0;
		transform: translate(-90vh, 0);
  }
  to {
    opacity: 1.0;
		transform: translate(0vh, 0);
  }
}

.project-card-after-right {
  animation: sweep-in-right 0.65s;
  animation-timing-function: ease-out;
  opacity: 1.0;
}

.project-card-after-left {
  animation: sweep-in-left 0.65s;
  animation-timing-function: ease-out;
  opacity: 1.0;
}
