section {
  position: relative;
  width:  100%;
  height: 95vh;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

#down-arrow {
	animation: dim-out 0.25s, bounce 2s infinite;
	z-index: 99;
	display: block;
  position: absolute;
	width: 5.6vh;
	height: auto;
	left: 50%;
	margin-left: -2.8vh;
	float: bottom;
	top: 92%;
	opacity: .7;
}

#down-arrow:hover {
	animation: dim-in 0.25s, bounce 2s infinite;
	z-index: 99;
	display: block;
  position: absolute;
	width: 5.6vh;
	height: auto;
	left: 50%;
	margin-left: -2.8vh;
	float: bottom;
	opacity: .3;
}

.bounce {
	/*REMOVED*/
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(-25%);
  }
}

@keyframes dim-in {
	from {
		opacity: .7;
	}
	to {
		opacity: .3;
	}
}

@keyframes dim-out {
	from {
		opacity: .3;
	}
	to {
		opacity: .7;
	}
}

/*up arrow*/

#up-arrow {
	animation: dim-out 0.25s, rev-bounce 2s infinite;
	z-index: 99;
	display: block;
  position: absolute;
	width: 5.6vh;
	height: auto;
	left: 50%;
	margin-left: -2.8vh;
	float: bottom;
	top: 88%;
	opacity: .7;
}

#up-arrow:hover {
	animation: dim-in 0.25s, rev-bounce 2s infinite;
	z-index: 99;
	display: block;
  position: absolute;
	width: 5.6vh;
	height: auto;
	left: 50%;
	margin-left: -2.8vh;
	float: bottom;
	opacity: .3;
}

@keyframes rev-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(25%);
  }
}

#up-arrow-field {
	height: 12%;
}
